legacy-peer-deps=true
@pr-elite-components-library:registry=https://dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-elite-components-library/
//dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-elite-components-library/:always-auth=true
//dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-elite-components-library/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
@pr-policy-evaluator:registry=https://dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-policy-evaluator/
//dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-policy-evaluator/:always-auth=true
//dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-policy-evaluator/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
@auth:registry=https://dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-auth-sso-lib/
//dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-auth-sso-lib/:always-auth=true
//dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-auth-sso-lib/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
