@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: 'Gotham';
  src: url('gotham/woff2/Gotham-Light_Web.woff2') format('woff2'),
    url('gotham/woff/Gotham-Light_Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('gotham/woff2/Gotham-LightItalic_Web.woff2') format('woff2'),
    url('gotham/woff/Gotham-LightItalic_Web.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('gotham/woff2/Gotham-Book_Web.woff2') format('woff2'),
    url('gotham/woff/Gotham-Book_Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('gotham/woff2/Gotham-BookItalic_Web.woff2') format('woff2'),
    url('gotham/woff/Gotham-BookItalic_Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('gotham/woff2/Gotham-Medium_Web.woff2') format('woff2'),
    url('gotham/woff/Gotham-Medium_Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('gotham/woff2/Gotham-MediumItalic_Web.woff2') format('woff2'),
    url('gotham/woff/Gotham-MediumItalic_Web.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('gotham/woff2/Gotham-Bold_Web.woff2') format('woff2'),
    url('gotham/woff/Gotham-Bold_Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('gotham/woff2/Gotham-BoldItalic_Web.woff2') format('woff2'),
    url('gotham/woff/Gotham-BoldItalic_Web.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
