.pe_toast {
  min-height: 38px;
  line-height: 1.1em;
  font-size: 15px;
  font-weight: 300;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  @apply
  pe-bg-black-medium
  pe-border-l-8
  pe-border-blue-dark
  pe-rounded-[5px]
  pe-text-white
  pe-font-sans
  !pe-px-4
  !pe-py-3;
}
.pe_toast.success {
  @apply pe-border-blue-light;
}
.pe_toast.error {
  @apply pe-border-red-700;
}
.pe_toast.info {
  @apply pe-border-blue-medium;
}
